.form-group{
  background-color:	rgba(179, 179, 179,0.5);
  border: 1px solid lightgray;
  padding: 0px 30px;
  position: absolute;
  left: 50%;
  top: 550pt;
  transform: translate(-50%, -50%);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}
