
body{
  background-color: #808080;
}
h1{
  font-family: Verdana;
  margin-left:80px;
}
h2{
  margin-left: 480px;
}
p {  
  border: 5px solid black;
  margin-left: 80px;
  margin-right:100px;
}
p.parag{
  font-family: 'Lucida Sans';  
  padding: 5px;  
  text-align: justify;
  text-indent: 20px;
}
p.pg{
  margin-right: 100px;
  margin-left:520px;
}
div{
  padding-bottom: 322px;
  padding-top: 0px;    
  border: 1px solid black;    
  background-color: lightgray;
  margin-left: 300px;
  margin-right: 300px;
}
p:hover{  
  background-color:black;
  color: green; 
}
